.hammer_header{
  width: 162.9px;
  height: 153.6px;
  margin-left: 50px;
}

.main_1{
  font-size: 64px;
  text-align: center;
}

.flag_1{
  width: 750px;
  height: 450px;
}

.flag_main{
  text-align: center;
}

.h2_1{
  font-size: 32px;
  text-align: center;
}

.h2_2{
  font-size: 28px;
  text-align: center;
  margin-bottom: 100px;
}

footer{
  margin-top: 150px;
  margin-bottom: 100px;
}

.footer_1{
  font-size: 16px;
  text-align: center;
}

.file_main{
 transition: none
}
.file_main a{
  font-size: 64px;
  text-align: left;
  color: gray;
  margin-left: 12vw;
  transition: all 0.5s 0s ease;
  cursor: pointer;
  display: block;
  text-decoration: none;
}

.file_main a:hover{
  text-decoration: none;
  font-size: 64px;
  text-align: left;
  margin-left: 13vw;
  color: black;
}

.hr_1{
  text-align: center;
}

.hr_1 hr{
  margin-top: 0px;
  border: none;
  border-top: groove 1px gray;
  border-bottom: groove 1px gray;
  width: 90%;
  margin-bottom: 80px;
}

p{
  font-size: 16px;
  margin-left: 5vw;
  margin-right: 5vw;
}

a{
  text-decoration: none;
  color: #0645ad;
}

.h2_3{
  text-align: left;
  margin-left: 5vw;
  margin-top: 30px;
  margin-bottom: 0px;
  font-size: 32px;
}
.button_1{
  text-align: center;
  font-size: 64px;
}
.button_1 button{
  width: 200px;
  height: 100px;
  cursor: pointer;
  font-size: 32px;
}
.h2_4{
  font-size: 28px;
  text-align: center;
  margin-bottom: 100px;
  color: red;
}
.h2_5{
  font-size: 24px;
  text-align: left;
  margin-left: 5vw;
}
.h1_war{
  color: red;
  font-size: 12vw;
  text-align: center;
}
.a_1{
  margin-right: 1vw;
  text-align: center;
}
.a_2{
  margin-left: 1vw;
  text-align: center;
}

.exchange{
  text-align: right;
  font-size: 32px;
  text-decoration: none;
}
header{
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.nav_main{
  display: flex;
  margin-right: 5vw;
  /* font-size: 20px; */
  list-style: none;
  margin-top: 5vw;
}

.nav_main li{
  margin-left: 2vw;
  font-size: 32px;
  text-decoration: none;
}

.nav_main li a{
  color: #000000;
}
.news{
  display: grid;
  grid-gap: 3vw;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 5vw;
  margin-right: 5vw;
}
.item{
  width: 30vw;
  height: calc(30vw * (2/3));
  text-align: left;
}
.news_item_1{
  background-image: url("img/flag.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.item div {
  width: 90%;
  height: 90%;
}
.item > p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-left: auto;
  color: #000000;
  transition: all 0.5s 0s ease;
}
.item > p:hover {
  padding: 0 1vw 0;
}
